body {
    background-image: url("./assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
    width: 100vw;
    height: 100vh;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}

.title-image {
    width: 320px;
    height: 320px;
    z-index: 1;
    position: fixed;
}

.title {
    font-size: 28px;
    z-index: 2;
    position: fixed;
}

.body {
    height: 90%;
}